
form  {
	margin: 0;
}

th {
	margin-bottom: 100px;
}


#leftPanel {
	float: left;
	width: 250px;
	border: 1px solid grey;
	margin-top: 10%;
	
}

#qBankMenu {
	height: auto;
	width: 97%;
	border: 1px solid grey;
	margin: 3px auto;
}

#rightPanel {
	min-height: 600px;
	height: auto;
	min-width: 500px;
	float: left;
	overflow: auto;
	margin-left: 5%;
	
}

#qSelect {
	width: 97%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid grey;
}

#questionTable {
	width: auto;
	min-width: 400px;
	margin: auto;
}


li {
	display: inline;
}

h4 {
	margin: 0;
	text-align: center;
}


.qCheckBox {
	margin-left: 30%
}

.qName {
	text-align: left;
}

.qType {
	text-align: right;
}

